img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin-top: 1.5em;
    padding: 0 5%;
    flex: initial;
}

nav {
    margin: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

@media all and (min-width: 300px) {
    nav {
        width: 90%;
        padding: 0 5%;
    }
}

@media all and (min-width: 600px) {
    nav {
        width: 30%;
        padding: 0 0 0 5%;
    }
}

@media all and (min-width: 700px) {
    nav {
        width: 25%;
    }
}

.primary, .secondary {
    margin: 0;
    padding: 0;
    flex: initial;
}

@media all and (min-width: 300px) {
    .primary, .secondary {
        width: 50%;
    }
}

@media all and (min-width: 600px) {
    .primary, .secondary {
        width: 100%;
    }
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.selected {
    color: #006DB3; /*light blue 600 dark*/
}

section {
    margin: 0;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

@media all and (min-width: 300px) {
    section {
        width: 90%;
    }
}

@media all and (min-width: 600px) {
    section {
        width: 55%;
    }
}

@media all and (min-width: 700px) {
    section {
        width: 60%;
    }
}

#empty-msg {
    width: 100%;
    margin: 0 2.5%;
    padding: 0 2.5%;
    color: #B4004E; /*pink 400 dark*/
    flex: initial; /*flex: 0 1 auto*/
}

#gallery {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

.president {
    width: 100%;
    margin: 1.2em 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: flex-start; /*cross axis*/
    background: #E1F5FE; /*light blue 50*/
    position: relative;
}

figure {
    margin: .5em 0;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
}

.left {
    margin: .5em 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

.right {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

@media all and (min-width: 300px) {
    figure {
        width: 25%;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 10%;
        text-align: center;
    }
}

@media all and (min-width: 600px) {
    figure {
        width: 15%;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 10%;
        text-align: center;
    }
}

@media all and (min-width: 900px) {
    figure {
        width: 20%;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 10%;
        text-align: center;
    }
}

.note {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
    background: #006DB3; /*light blue 600 dark*/
    flex: initial; /*flex: 0 1 auto*/
    align-self: flex-end; /*pushes .note down if .left text runs long*/
}

/*Fonts*/
h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-weight: 700;
}

p {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

.right p {
    line-height: 1.2;
}

.note p {
    line-height: 1.2;
    margin-top: .25em;
    margin-bottom: .25em;
    font-size: .875em; /*14 pixels*/
    color: #FFF;
}

li {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Media queries*/
@media all and (min-width: 300px) {
    h1 {
        font-size: 1.4375em; /*23 pixels*/
    }

    h2 {
        font-size: 1.0625em; /*17 pixels*/
    }

    h3 {
        font-size: .8125em; /*13 pixels*/
    }

    p {
        font-size: .9375em; /*15 pixels*/
    }

    li {
        font-size: .9375em; /*15 pixels*/
    }
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 1.5em; /*24 pixels*/
    }

    h2 {
        font-size: 1.125em; /*18 pixels*/
    }

    h3 {
        font-size: .875em; /*14 pixels*/
    }

    p {
        font-size: 1em; /*16 pixels*/
    }

    li {
        font-size: 1em; /*16 pixels*/
    }
}