html, body {
    height: 100%;
}

body {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
    position: relative;
    border-bottom: 1px solid #EEE; /*grey 200*/
    background: #FAFAFA; /*grey 50*/
}

header::before {
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 1200px;
    left: 100%;
    border-bottom: 1px solid #EEE; /*grey 200*/
    background: #FAFAFA; /*grey 50*/
}

header::after {
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 1200px;
    right: 100%;
    border-bottom: 1px solid #EEE; /*grey 200*/
    background: #FAFAFA; /*grey 50*/
}

main {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

nav {
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

/*Keeps "Democratic Republican" single line on viewports, 320 - 359px*/
@media all and (min-width: 300px) {
    .primary {
        width: 45%;
    }

    .secondary {
        width: 55%;
    }
}

@media all and (min-width: 360px) {
    .primary {
        width: 50%;
    }

    .secondary {
        width: 50%;
    }
}

@media all and (min-width: 900px) {
    .primary {
        width: 25%;
    }

    .secondary {
        width: 25%;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav .selected {
    color: #D90404;
}

section .selected {
    color: #D90404;
}

section {
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

@media all and (min-width: 300px) {
    section {
        width: 100%;
    }
}

@media all and (min-width: 900px) {
    section {
        width: 50%;
    }
}

#empty-msg {
    width: 100%;
    margin: 0;
    padding: 0;
    color: red;
}

#gallery {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

.president {
    width: 100%;
    margin: 1em 0;
    padding: .5em 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;/*main axis*/
    align-items: flex-start; /*cross axis*/
    border: 1px solid #EEE; /*grey 200*/
    background: #FAFAFA; /*grey 50*/
}

figure {
    margin: .5em 0;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;/*main axis*/
    align-items: center; /*cross axis*/
}

.left {
    margin: .5em 0;
    padding: 0;
}

.right {
    margin: .5em 0;
    padding: 0;
    background: #001F99; /*dark magenta*/
}

@media all and (min-width: 300px) {
    figure {
        width: 25%;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 10%;
        text-align: center;
    }
}

@media all and (min-width: 600px) {
    figure {
        width: 15%;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 10%;
        text-align: center;
    }
}

@media all and (min-width: 900px) {
    figure {
        width: 20%;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 10%;
        text-align: center;
    }
}

.note {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
    background: #F2F2F2;
}

/*NOTE: TEST IF SOME FLEXBOX CAN BE ELIMINATED.*/

footer {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
    flex: initial; /*flex: 0 1 auto*/
    position: relative;
    border-top: 1px solid #EEE; /*grey 200*/
    background: #FAFAFA; /*grey 50*/
}

footer::before {
    content:  "";
    position: absolute;
    top: -1px;
    bottom: 0;
    width: 1200px;
    left: 100%;
    border-top: 1px solid #EEE; /*grey 200*/
    background: #FAFAFA; /*grey 50*/
}

footer::after {
    content:  "";
    position: absolute;
    top: -1px;
    bottom: 0;
    width: 1200px;
    right: 100%;
    border-top: 1px solid #EEE; /*grey 200*/
    background: #FAFAFA; /*grey 50*/
}

/*Fonts*/
h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
    color: #2E40A6;
    color: #A67D03;
    color: #000;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-weight: 700;
    color: #2E40A6;
    color: #000;
}

p {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

.right p {
    color: #FFF;
}

.note p {
    line-height: 1.2;
    margin-top: .25em;
    margin-bottom: .25em;
    font-size: .875em; /*14 pixels*/
}

li {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
    color: #001F99; /*dark magenta*/
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Media queries*/
@media all and (min-width: 300px) {
    h1 {
        font-size: 1.4375em; /*23 pixels*/
    }

    h2 {
        font-size: 1.0625em; /*17 pixels*/
    }

    h3 {
        font-size: .8125em; /*13 pixels*/
    }

    p {
        font-size: .9375em; /*15 pixels*/
    }

    li {
        font-size: .9375em; /*15 pixels*/
    }
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 1.5em; /*24 pixels*/
    }

    h2 {
        font-size: 1.125em; /*18 pixels*/
    }

    h3 {
        font-size: .875em; /*14 pixels*/
    }

    p {
        font-size: 1em; /*16 pixels*/
    }

    li {
        font-size: 1em; /*16 pixels*/
    }
}

@media all and (min-width: 900px) {
    h1 {
        font-size: 1.5625em; /*25 pixels*/
    }
}