html, body {
    height: 100%;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    width: 95%;
    margin: 0;
    padding: 1em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

nav#primary {
    width: 15%;
    height: 40vh;
    margin: 0;
    padding: 1em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    border-right: 1px solid #EEE; /*grey 200*/
}

nav#secondary {
    width: 15%;
    height: 40vh;
    margin: 0;
    padding: 1em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    border-right: 1px solid #EEE; /*grey 200*/
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.selected {
    color: red;
}

section {
    width: 50%;
    margin: 0;
    padding: 1em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

#presidents {
    width: 100%;
    margin: 0;
    padding: 0;
}

figure {
    width: 48%;
    margin: .5em 0;
    padding: .5em 0%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: center; /*cross axis*/
    border: 1px solid #EEE; /*grey 200*/
}

footer {
    width: 95%;
    margin: 0;
    padding: 1em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    background: lightgrey;
}

/*Fonts*/
h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

p {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

li {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

figcaption {
    font-family: 'Roboto', serif;
    line-height: 1.5;
    font-weight: 400;
}

span {
    display: block;
}

/*Media queries*/
@media all and (min-width: 300px) {
    h1 {
        font-size: 1.4375em; /*23 pixels*/
    }

    h2 {
        font-size: 1.0625em; /*17 pixels*/
    }

    p {
        font-size: .9375em; /*15 pixels*/
    }

    li {
        font-size: .9375em; /*15 pixels*/
    }

    figcaption {
        font-size: .75em; /*12 pixels*/
    }
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 1.5em; /*24 pixels*/
    }

    h2 {
        font-size: 1.125em; /*18 pixels*/
    }

    p {
        font-size: 1em; /*16 pixels*/
    }

    li {
        font-size: 1em; /*16 pixels*/
    }

    figcaption {
        font-size: .875em; /*14 pixels*/
    }
}

@media all and (min-width: 900px) {
    h1 {
        font-size: 1.5625em; /*25 pixels*/
    }
}

@media all and (min-width: 1200px) {
    h1 {
        font-size: 1.625em; /*26 pixels*/
    }
}